  <h1 class="text-center">Login</h1>

<div class="formCont">
  <div class="brTop"></div>
  <form action="/registration/login_user" method="post" role="form">

    <div class="inputForm">
      <span class="prefix"><span class="entypo-user"></span></span>
      <input type="text" placeholder="Username" name="username" id="username" required/>
    </div>
    <br />
    <div class="inputForm">
      <span class="prefix"><span class="entypo-key"></span></span>
      <input type="password" placeholder="Password" name="password" id="password" required=""/>
      <span class="sufix"><span class="entypo-lock"></span></span>
    </div>
    <br/>
    <input type="submit" class="btn btn-info" value="Login"/>
  </form>
  <div class="triangle"></div>

  <a class="btn btn-info" href="/">Go To Register</a>

  <h4><%= flash[:notice] %></h4>
  <h4><%= flash[:alert] %></h4>

</div>
