<h1 class="text-center">Registration Page</h1>


<div class="formCont">
  <div class="brTop"></div>
  <form action="/registration/register_user" method="post" role="form">
    <input class="inputForm" type="text" name="firstname" id="firstname" placeholder="First Name"/></br>
    <input class="inputForm" type="text" name="lastname" id="lastname" placeholder="Last Name"/></br>
    <input class="inputForm" type="text" name="streetaddr" id="streetaddr" placeholder="Street Address"/></br>
    <input class="inputForm" type="text" name="city" id="city" placeholder="City"/></br>
    <input class="inputForm" type="text" name="state" id="state" placeholder="State"/></br>
    <input class="inputForm" type="text" name="zipcode" id="zipcode" placeholder="Zipcode"/></br>
    <input class="inputForm" type="text" name="country" id="country" placeholder="Country"/></br>
    <input class="inputForm" type="text" name="phone1" id="phone1" placeholder="Phone 1"/></br>
    <input class="inputForm" type="text" name="phone2" id="phone2" placeholder="Phone 2"/></br>
    <input class="inputForm" type="text" name="phone3" id="phone3" placeholder="Phone 3"/><br/>
    <br/>
    <input class="inputForm" type="text" name="username" id="username" placeholder="User Name" required/><span><%= flash[:notice] %></span><br/>
    <input class="inputForm" type="text" name="password" id="password" placeholder="Password" required/><span><%= flash[:alert] %></span><br/>
    <input type="submit" class="btn btn-info" value="Register"/>
  </form>
  <div class="triangle"></div>

  <a class="btn btn-info" href="/registration/login">Go To Login</a>

</div>
